*{
    cursor: none;
}
.animateText{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 5s forwards,
        cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50% { border-color: transparent; }
}
@keyframes typing {
    from { width: 0; }
    to { width: 50%; }
}
.Cursor {
    background-color: black;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

